/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    border-radius: 10px;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: hsl(240, 23%, 97%);
    padding: 24px;
    width: 300px;
    border-radius: 5px;
}

.centered-form button {
    width: 100%;
    border-radius: 5px;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 5px;
    outline: #7C5CBF;
    box-shadow: 3px 3px 7px 4px #bdbac27e;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* messages scrollbar  */

.chat__messages::-webkit-scrollbar {
    width: 16px;
}

.chat__messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 146, 146);
}

/* Message Styles */

.message {
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 6px;
    width: fit-content;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #eee;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    font-size: 16px;
}

.compose input::focus {
    border: black;
    outline: #7C5CBF;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 600;
    color: #000000;
    font-size: 22px;
    background: #96ff81;
    padding: 24px;
    text-transform: uppercase;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #7C5CBF;
}

.users {
    list-style-type: disclosure-closed;
    font-weight: 300;
    padding: 12px 24px 12px 24px;
    text-transform: uppercase;
}

/*
===============================================
MEDIA QUERIES
===============================================
*/

@media (max-width: 560px) {
    .chat {
        flex-direction: column;
    }
    .chat__sidebar {
        height: 20vh;
        width: 100%;
        display: flex;
        overflow: hidden;
        overflow-y: hidden;
    }
    .chat__sidebar .room-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chat__sidebar .users-list {
        width: 100%;
        overflow: scroll;
    }
    .chat__sidebar .list-title {
        margin-bottom: 0;
        position: sticky;
    }
    .chat__main {
        height: 80vh;
    }
    .compose {
        display: block;
    }
    .compose form {
        flex-direction: column;
        margin-right: 0;
    }
    .compose input {
        display: block;
    }
    .compose button {
        margin-top: 16px;
    }
    .compose #sendLocationBtn {
        width: 100%;
    }
}